html {
  font-family: verdana;
}
body {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: clamp(90px, 20vw, 100px);
  padding: 10px;
  border-bottom: 3px solid #B88DFA;
}
p {
}
h1{
}
a {
  font-size: clamp(15px, 2vw, 20px);
  text-decoration: none;
  margin: clamp(3px, 1vw, 9px);
}
a:link {
  color: black;
}
a:hover {
  color: #808080;
}
a:active {
  color: #B88DFA;
}
a:visited {
  color: #B88DFA;
}
img.header-img {
  width: clamp(80px, 10vw, 100px);
  height: clamp(80px, 10vw, 100px);
  margin: 10px;
  margin-right: clamp(10px, 5vw, 50px);
}
