html {
  font-family: verdana;
}
body {
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
}
p {
}
h1{
}
a {
  margin: 9px;
  font-size: 2vw;
  text-decoration: none;
}
a:link {
  color: black;
}
a:hover {
  color: #808080;
}
a:visited {
  color: #B88DFA;
}
img.header-img {
  width: 10%;
  height: auto;
  margin: 10px;
  margin-right: 50px;
}
