
/* Algemeen, voor elke pagina */

html {
  	font-family: verdana;
}
body, div, a, h1, h2, p, img {
  	padding: 0;
  	border: 0;
  	margin: 0;
} 
header {
	z-index: 1;
  	top: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: clamp(80px, 10vw, 100px);
  	padding: clamp(5px, 1vw, 10px);
}
header a {
  	font-size: clamp(15px, 2vw, 20px);
 	padding: clamp(10px, 1vw, 15px);
}
header img {
  	width: clamp(80px, 10vw, 100px);
  	height: clamp(80px, 10vw, 100px);
  	padding-right: clamp(15px, 2vw, 25px);
}
footer {
	position: relative;
	top: 6vw;
	z-index: -1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	height: clamp(80px, 10vw, 100px);
  	padding: clamp(5px, 1vw, 10px);
}
footer img {
	top: -20vw;
	z-index: -2;
	position: absolute;
	width: 100vw;
}
footer a:link, footer a:visited {
	font-weight: bold;
  	color: #B88DFA;
}
footer a:link:hover, footer a:visited:hover {
	font-weight: bold;
	text-decoration: underline;
	transition: 0.1s;
	color: #B88DFA;
}
div {
  	top: 1vw;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	height: auto;
  	padding: clamp(5px, 1vw, 10px);
}
div a {
  	font-size: clamp(15px, 2vw, 20px);
 	padding: clamp(10px, 1vw, 15px);
}
div h1 {
	font-size: clamp(20px, 5vw, 32px);
	padding: clamp(5px, 1vw, 20px);
	font-weight: bolder;
	background: #B88DFA;
  	color: #000000;
}
div h2, h2 {
  	font-size: clamp(15px, 2vw, 20px);
	padding-top: clamp(15px, 5vw, 50px);
	font-weight: bold;
  	color: #000000;
}
div p, p {
  	text-align: center;
  	width: 60vw;
  	font-size: clamp(10px, 2vw, 16px);
	padding: clamp(10px, 5vw, 25px);  	
	color: #000000;
}
a {
  	text-decoration: none;
}
a:link, a:visited {
  	color: #000000;
}
a:link:hover, a:visited:hover {
	transition: 0.1s;
	color: #808080;
}
a.active {
  	background: #B88DFA;
}
a.active:hover {
  	color: #000000;
}
img {
	width: 50vh;
}

/* Alleen voor de pagina 'About' */

p.about1  {
	top: 6vw;
	position: absolute;
	right: 20vw;
	width: 40vw;
	text-align: left;
  	font-size: clamp(10px, 2vw, 15px);
	color: #000000;
}
img.about1 {
  	position: relative;
  	display: flex;
	right: 25vw;
  	width: 40vh;
  	padding: clamp(5px, 1vw, 10px);
}
img.about {
	top: 5vw;
	position: absolute;
}
img.active {
	opacity: 0;
	transition: 1s ease-out;
}
div.active:hover img.active {
	z-index: 1;
	opacity: 1;
	transition: 0.5s ease-out;
}
.active:hover #active{
	opacity: 1;
	transition: 0.5s ease-out;
}
#active {
	transition: 1s ease-out;
	opacity: 0;
	text-align: right;
	color: #B88DFA;
}
p.about {
	z-index: -1;
	position: absolute;
	text-align: left;
  	width: 60vw;
  	font-size: clamp(10px, 2vw, 16px);
	padding: clamp(15px, 5vw, 50px);  	
	color: #000000;
}

/* Alleen voor de pagina 'Now' */

div.now {
  	align-items: center;
  	height: auto;
}
div.now h2 {
	width: 40vw;
}
p.now {
	width: 40vw;
	text-align: left;
  	font-size: clamp(10px, 2vw, 15px);
	padding-top: clamp(10px, 5vw, 15px);  	
	color: #000000;
}
