body {
	margin: 0;
	font-family:  Courier New;
}
p {
	color: black;
  font-family: Trebuchet,Verdana;
  font-size: 15px;
  text-align: left;
  margin-left: 60px;
}
a {
	align: center;
}
img {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}
div {
	margin: 0px;
  padding: 0px;
}
h1 {
  color: white;
  text-align: center;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 500;
}
h2 {
	color: #8C8CFD;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}
h3 {
	position: relative;
  color: white;
  text-align: left;
  font-family: Courier New;
	font-size: 20px;
  text-transform: uppercase;
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  font-weight: 500;
}
h4 {
	color: #3F3F53;
}
h5 {
	color: #3F3F53;
}
span {
	color: #8C8CFD;
}
#school {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}
#vrijetijd {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: -700px;
	margin-bottom: 50px;
}
#school:hover {
	position: relative;
	z-index: 1;
	transform: translateY(10px);
}
#vrijetijd:hover {
	position: relative;
	z-index: 1;
	transform: translateY(10px);
}
#triangle-topright {
	width: auto;
	height: 0;
	border-top: 500px solid #e5ecff;
	border-left: 75vw solid transparent;
}
#triangle-topright2 {
	width: auto;
	height: 0;
	border-top: 250px solid #d6d6fc;
	border-left: 75vw solid transparent;
}
#triangle-topleft {
	width: auto;
	height: 0;
	border-top: 500px solid #d6d6fc;
	border-right: 75vw solid transparent;
}
#triangle-topleft2 {
	width: auto;
	height: 0;
	border-top: 250px solid #e5ecff;
	border-right: 75vw solid transparent;
}
#triangle-bottomright {
	width: auto;
	height: 0;
	border-bottom: 500px solid #e5ecff;
	border-left: 75vw solid transparent;
	margin-top: -600px;
}
#triangle-bottomright2 {
	width: auto;
	height: 0;
	border-bottom: 250px solid #d6d6fc;
	border-left: 75vw solid transparent;
}
#triangle-bottomleft {
	width: auto;
	height: 0;
	border-bottom: 250px solid #e5ecff;
	border-right: 75vw solid transparent;
}
#triangle-contact {
	width: auto;
	height: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: -150px;
	border-left: 40vw solid transparent;
	border-right: 40vw solid transparent;
	border-top: 180px solid #d6d6fc;
  position: absolute;
  z-index: 1;
}
#box1 {
	position: relative;
	width: auto;
  height: 300px;
	background-color: #e5ecff;
}
#box2 {
	width: auto;
  height: 200px;
	background-color: #e5ecff;
}
#box3 {
	width: auto;
  height: 200px;
	background-color: #d6d6fc;
}
#box4overmij {
	position: relative;
	width: auto;
  height: 200px;
	background-color: #d6d6fc;
  z-index: 1;
}
.topnav {
	width: 100%;
	position: fixed;
	overflow: hidden;
  z-index: 1000;
  background-color: #3F3F53;
  top: 0;
}
.nl a {
	background:#8C8CFD;
	width: 40px;
  float: center right;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.en a {
	background:#8C8CFD;
  background-size: 75px 50px;
  width: 40px;
	float: center right;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.topnav a {
	float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}
.bottomnav a {
	float: left;
  height: 30px;
  width: 130px;
  margin-left: 40px;
  margin-top: 13px;
  margin-right: 60px;
	color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}
.email {
  padding-top: 200px;
}
.email a {
  color: white;
	font-family: Trebuchet, Verdana;
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #8C8CFD;
  text-underline-position: under;
}
.email a:hover {
  text-decoration-color: red;
}
.topnav a:hover {
	background-color: white;
  color: #373749;
  transition: 0.4s;
}
.bottomnav a:hover {
	background-color: white;
  color: #373749;
  transition: 0.4s;
}
.nl .en a:hover {
	transition: 0.1s;
	opacity: 0.6;
}
a a.active {
	opacity: 0.6;
}
a a:hover:not(.active) {
 	opacity: 0.6;
}
.title {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -360px;
  width: 100%;
}
.linkmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  position: relative;
}
.bars {
  display: inline;
  cursor: pointer;
  padding: 0;
}
.bar1, .bar2, .bar3 {
  width: 270px;
  height: 10px;
  background-color: #3F3F53;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.3s;
}
.link {
  text-decoration: solid;
  color: white;
 	border: 0;
	position: center;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
  margin: auto;
  width: 200px;
  height: 40px;
  display: block;
  pointer-events: none;
  padding: 0;
  z-index: 999;
}
.links {
	text-decoration: none;
	font-family: Trebuchet, Verdana;
	color: #4c4257;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: -50px;
}
.barovermij {
	position: relative;
  width: 100%;
  height: 12px;
  background-color: #3F3F53;
  z-index: 2;
}
.indexovermij {
  width: 100%;
	position: relative;
  top: 100px;
}
.indexcontact {
  width: 100%;
  background-color: #3F3F53;
  height: 1150px;
}
.h2overmij {
	position: relative;
	color: #3F3F53;
  text-align: left;
  text-transform: uppercase;
	font-size: 35px;
  width: 100%;
  margin-top: 40px;
  font-weight: 500;
}
.h2contact {
	position: relative;
	color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 0px;
	font-size: 48px;
  padding-top: 350px;
  font-weight: 500;
}
.indexboxovermij {
	position: relative;
  width: 100%;
	max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.indexboxcontact {
	position: relative;
  text-align: center;
  width: 300px;
  height: 800px;
  border-color: #8C8CFD;
  border-top: transparent;
  border-bottom: transparent;
  border-style: solid;
  border-width: 6px;
  border-radius: 50% / 10%;
  margin: auto;
  top: -100px;
}
.change .bar1 {
  -webkit-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
.change .bar2 {
	-webkit-transform: translate(0px 40px);
  transform: translate(0px, 40px);
}
.change .bar3 {
  -webkit-transform: translate(0px, 70px);
  transform: translate(0px, 70px);
}
.change .link1 {
	-webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
  pointer-events: all;
}
.change .link2 {
	-webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
  pointer-events: all;
}
.change .link3 {
	-webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: translate(0px, 90px);
  transform: translate(0px, 90px);
  pointer-events: all;
}
.link1:hover, .link2:hover, .link3:hover {
	opacity: 1;
  color: black;
}
.links:hover .redeffect {
	color: red;
	transition: 0.4s;
}
