body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #1d1f25;
}
p {
  font-family: Trebuchet,Verdana;
  font-size: 17px;
  text-align: left;
  margin-left: 60px;
}
a {
	align: center;
}
div {
	margin: 0;
  padding: 0;
	border: 0;
}
h1 {
	color: white;
  text-align: center;
	font-family: Century Gothic;
  font-size: 45px;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 500;
}
h2 {
	color: white;
	font-family: Century Gothic;
  text-align: center;
	text-transform: uppercase;
	font-size: 35px;
}
h3 {
	position: absolute;
	color: white;
	font-family: Arial;
	text-align: center;
	text-transform: lowercase;
	font-size: 20px;
	height: 100%;
	width: 100%;
	top: 90px;
	font-weight: 1000;
}
span {
	color: white;
}
#triangle-topright {
	width: auto;
	height: 0;
	border-top: 500px solid #2e2e32;
	border-left: 75vw solid transparent;
}
#triangle-topleft {
	width: auto;
	height: 0;
	border-top: 500px solid #d9dcff;
	border-right: 75vw solid transparent;
}
#triangle-bottomright {
	width: auto;
	height: 0;
	border-bottom: 500px solid #2e2e32;
	border-left: 75vw solid transparent;
	margin-top: -400px;
}
#triangle-contact {
	width: auto;
	height: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: -150px;
	border-left: 40vw solid transparent;
	border-right: 40vw solid transparent;
	border-top: 180px solid #fffcd9;
  position: absolute;
  z-index: 1;
}
#boxhome {
	position: relative;
	width: auto;
  height: 300px;
	background-color: #2e2e32;
}
#boxstuff {
	position: relative;
	width: auto;
  height: auto;
	margin: 20px;
	margin-top: 70px;
}
#boxovermij {
	position: relative;
	width: auto;
  height: 200px;
	background-color: #fffcd9;
  z-index: 1;
}
.topnav {
	width: 100%;
	position: fixed;
	overflow: hidden;
  z-index: 1000;
  background-color: #2e2e32;
  top: 0;
}
.nl a {
	background:#d9dcff;
	width: 40px;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.en a {
	background:#d9dcff;
  width: 40px;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.nl {
	float: left;
}
.en {
	float: left;
}
.topnav a {
	float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}
.social {
	padding-top: 10px;
}
.social a {
  color: #464d53;
	font-family: Trebuchet, Verdana;
  text-align: center;
  font-size: 19px;
  text-decoration: none;
}
.social a:hover {
	color: #d9dcff;
	transition: 0.8s;
}
.topnav a:hover {
	background-color: white;
  color: #373749;
  transition: 0.4s;
}
.nl .en a:hover {
	transition: 0.1s;
	opacity: 0.6;
}
a a.active {
	opacity: 0.6;
}
a a:hover:not(.active) {
 	opacity: 0.6;
}
.title {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -360px;
  width: 100%;
}
.link {
  text-decoration: solid;
 	border: 0;
	position: center;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
  margin: auto;
  width: 200px;
  height: 40px;
  display: block;
  pointer-events: none;
	position: relative;
	font-size: 19px;
  text-transform: uppercase;
}
.links {
	color: white;
	text-decoration: none;
	font-family: Trebuchet, Verdana;
  text-align: center;
	font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: -50px;
}
.longbar {
	position: relative;
  width: 100%;
  height: 50px;
  background-color: #2e2e32;
  z-index: -1;
	bottom: -20px;
}
.indexstuff {
	width: 100%;
	position: relative;
	top: 100px;
}
.indexovermij {
  width: 100%;
	position: relative;
	top: 100px;
}
.indexcontact {
  width: 100%;
  background-color: #2e2e32;
  height: 800px;
}
.h2stuff{
	position: relative;
  text-align: left;
  text-transform: uppercase;
	font-size: 30px;
  width: 100%;
  font-weight: 500;
}
.h2overmij {
	position: relative;
  text-align: left;
  text-transform: uppercase;
	font-size: 30px;
  width: 100%;
  font-weight: 500;
}
.h2contact {
	position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 0px;
	font-size: 40px;
  padding-top: 350px;
  font-weight: 500;
}
.indexboxstuff {
	position: relative;
  width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.indexboxovermij {
	position: relative;
  width: 100%;
	max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
	color: #444d54;
}
.indexboxcontact {
	position: relative;
  text-align: center;
	padding-top: 99px;
	margin: auto;
}
.imagecrop {
	position: relative;
	background-color: black;
	overflow: hidden;
	max-width: inherit;
	max-height: 200px;
	padding-bottom: 50px;
}
img {
	opacity: 0.4;
}
img:hover {
	opacity: 1;
	transition: 0.5s;
}
.links:hover {
  text-color: black;
}
#stuff:hover .redeffect {
	color: #f0d9ff;
	transition: 0.4s;
}
#overmij:hover .redeffect {
	color: #fffcd9;
	transition: 0.4s;
}
.links:hover .redeffect {
	color: #d9dcff;
	transition: 0.4s;
}
