body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #1d1f25;
}
p {
  font-family: Trebuchet,Verdana;
  font-size: 15px;
  text-align: left;
  margin-left: 60px;
}
a {
	align: center;
}
img {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}
div {
	margin: 0;
  padding: 0;
	border: 0;
}
h1 {
	color: white;
  text-align: center;
	font-family: Century Gothic;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 500;
}
h2 {
	color: white;
	font-family: Century Gothic;
  text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}
span {
	color: #ffc9c9;
}
#triangle-topright {
	width: auto;
	height: 0;
	border-top: 500px solid #2e2e32;
	border-left: 75vw solid transparent;
}
#triangle-topleft {
	width: auto;
	height: 0;
	border-top: 500px solid #cfc9ff;
	border-right: 75vw solid transparent;
}
#triangle-bottomright {
	width: auto;
	height: 0;
	border-bottom: 500px solid #2e2e32;
	border-left: 75vw solid transparent;
	margin-top: -600px;
}
#triangle-contact {
	width: auto;
	height: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: -150px;
	border-left: 40vw solid transparent;
	border-right: 40vw solid transparent;
	border-top: 180px solid #ffecc9;
  position: absolute;
  z-index: 1;
}
#boxhome {
	position: relative;
	width: auto;
  height: 300px;
	background-color: #2e2e32;
}
#boxstuff {
	position: relative;
	width: auto;
  height: 1000px;
	margin: 20px;
	margin-top: 150px;
	background-color: #c9ffcc;
  z-index: 1;
}
#boxovermij {
	position: relative;
	width: auto;
  height: 200px;
	background-color: #ffecc9;
  z-index: 1;
}
.topnav {
	width: 100%;
	position: fixed;
	overflow: hidden;
  z-index: 1000;
  background-color: #2e2e32;
  top: 0;
}
.nl a {
	background:#cfc9ff;
	width: 40px;
  float: center right;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.en a {
	background:#cfc9ff;
  background-size: 75px 50px;
  width: 40px;
	float: center right;
	font-family: Trebuchet, Verdana;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.topnav a {
	float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}
.email a {
  color: #464d53;
	font-family: Trebuchet, Verdana;
  text-align: center;
  font-size: 19px;
  text-decoration: underline;
  text-decoration-color: #ffecc9;
  text-underline-position: under;
}
.email a:hover {
  text-decoration-color: red;
}
.topnav a:hover {
	background-color: white;
  color: #373749;
  transition: 0.4s;
}
.nl .en a:hover {
	transition: 0.1s;
	opacity: 0.6;
}
a a.active {
	opacity: 0.6;
}
a a:hover:not(.active) {
 	opacity: 0.6;
}
.title {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -360px;
  width: 100%;
}
.linkmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  position: relative;
}
.bars {
  display: inline;
  cursor: pointer;
  padding: 0;
}
.bar1, .bar2, .bar3 {
  width: 490px;
  height: 10px;
  background-color: #1c1f24;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.2s;
}
.link {
  text-decoration: solid;
 	border: 0;
	position: center;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
  margin: auto;
  width: 200px;
  height: 40px;
  display: block;
  pointer-events: none;
	position: relative;
	font-size: 19px;
  text-transform: uppercase;
}
.links {
	color: white;
	text-decoration: none;
	font-family: Trebuchet, Verdana;
  text-align: center;
	font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: -50px;
}
.longbar {
	position: relative;
  width: 100%;
  height: 50px;
  background-color: #2e2e32;
  z-index: -1;
	bottom: -20px;
}
.indexstuff {
	width: 100%;
	position: relative;
	top: 100px;
}
.indexovermij {
  width: 100%;
	position: relative;
	top: 100px;
}
.indexcontact {
  width: 100%;
  background-color: #2e2e32;
  height: 800px;
}
.h2stuff{
	position: relative;
  text-align: left;
  text-transform: uppercase;
	font-size: 30px;
  width: 100%;
  font-weight: 500;
}
.h2overmij {
	position: relative;
  text-align: left;
  text-transform: uppercase;
	font-size: 30px;
  width: 100%;
  font-weight: 500;
}
.h2contact {
	position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 0px;
	font-size: 40px;
  padding-top: 350px;
  font-weight: 500;
}
.indexboxstuff {
	position: relative;
  width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #444d54;
}
.indexboxovermij {
	position: relative;
  width: 100%;
	max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
	color: #444d54;
}
.indexboxcontact {
	position: relative;
  text-align: center;
	padding-top: 99px;
	margin: auto;
}
.change .bar1 {
  -webkit-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
.change .bar2 {
	-webkit-transform: translate(0px 40px);
  transform: translate(0px, 40px);
}
.change .link1 {
	-webkit-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
  pointer-events: all;
}
.change .link2 {
	-webkit-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 60px);
  transform: translate(0px, 60px);
  pointer-events: all;
}
.links:hover {
  text-color: black;
}
#overmij:hover .redeffect {
	color: #ffecc9;
	transition: 0.4s;
}
.links:hover .redeffect {
	color: red;
	transition: 0.4s;
}
